@import "styles/variables.scss";
@import "styles/mixins.scss";

.Weather {
  flex: 1 1 0;
  padding: $padding;

  .temperature {
    display: inline-block;
  }

  .summary {
    margin-bottom: 1rem;
  }

  .icon--clear-day::before {
    @include icon('../../assets/forecast/Sun.png');
  }

  .icon--wind::before {
    @include icon('../../assets/forecast/Wind.png');
  }

  .icon--cloudy::before {
    @include icon('../../assets/forecast/Cloud.png');
  }

  .icon--partly-cloudy-day::before {
    @include icon('../../assets/forecast/PartlySunny.png');
  }

  .icon--rain::before {
    @include icon('../../assets/forecast/Rain.png');
  }

  .icon--snow-thin::before,
  .icon--snow::before {
    @include icon('../../assets/forecast/Snow.png');
  }

  .icon--fog::before {
    @include icon('../../assets/forecast/Haze.png');
  }

  .icon--clear-night::before {
    @include icon('../../assets/forecast/Moon.png');
  }

  .icon--partly-cloudy-night::before {
    @include icon('../../assets/forecast/PartlyMoon.png');
  }

  .icon--thudnerstorm::before {
    @include icon('../../assets/forecast/Storm.png');
  }

  .icon--tornado::before {
    @include icon('../../assets/forecast/Tornado.png');
  }

  .icon--hail::before {
    @include icon('../../assets/forecast/Hail.png');
  }

  .icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;

    &:before {
      font-size: 5rem;
    }
  }
}
