.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: opacity 1s cubic-bezier(0.23, 0, 0.03, 1);
  opacity: 0;

  &.fade-in {
    opacity: 1;
  }

  .top-frame {
    display: flex;
    flex: 1 1 0;
  }

  .bottom-frame {
    display: flex;
    align-items: flex-end;
    flex: 1 1 0;
  }
}
