.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
  opacity: 1;

  &.fade-in {
    opacity: 1;
  }

  .top-frame {
    display: flex;
    flex: 1 1 0;
  }

  .bottom-frame {
    display: flex;
    align-items: flex-end;
    flex: 1 1 0;
  }
}
