@mixin icon($path, $font-size: 100%) {
  width: 1em;
  height: 1em;
  font-size: $font-size;
  background-image: url('#{$path}');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  vertical-align: middle;
}
